<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>You are not connected to the Internet</title>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      position: relative;
      min-height: 100vh;
      font-family: sans-serif;
    }

    img {
      position: absolute;
      inset: 0;
      z-index: -10;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: top;
    }

    .main-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      padding: 8rem 1.5rem;
      text-align: center;
      color: #fff;
    }

    .main-content h1 {
      font-size: 1.875rem;
      font-weight: 700;
      margin-top: 1rem;
      letter-spacing: -0.025em;
    }

    .main-content p {
      margin-top: 1.5rem;
      opacity: 0.7;
    }
  </style>
</head>
<body>
  <main class="relative">
    <img src="offline.avif" alt="credit: unsplashed photo">
    <div class="main-content">
      <h3>oups</h3>
      <h1>No internet</h1>
      <p>Connect first and come back!</p>
    </div>
  </main>
</body>
</html>
